<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="WFBSEntities" connectionString="metadata=res://*/ModeloWfbs.csdl|res://*/ModeloWfbs.ssdl|res://*/ModeloWfbs.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=Cliente-PC:1521/XE;PASSWORD=hr;USER ID=HR&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceWFBS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49521/ServiceWFBS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceWFBS" contract="ServiceWCF.IServiceWFBS"
                name="BasicHttpBinding_IServiceWFBS" />
        </client>
    </system.serviceModel>
</configuration>